<ion-content class="ion-padding">
  <div class="center-wrap">
    <div class="card">

      <ion-text color="medium">
        <p class="ion-no-margin">
          {{ 'auth.mfa.codeSentTo' | transloco }}
          <br />
          <strong>{{ maskedEmail || ('auth.mfa.yourEmailFallback' | transloco) }}</strong>
        </p>

        <p class="ion-no-margin ion-margin-top">
          {{ 'auth.mfa.timeRemaining' | transloco }} <strong>{{ minutesLeftLabel }}</strong>
        </p>
      </ion-text>

      <form [formGroup]="form" (ngSubmit)="submit()">

        <ion-item class="ion-margin-top">
          <ion-input
            [label]="'auth.mfa.codeLabel' | transloco"
            label-placement="stacked"
            placeholder="123456"
            inputmode="numeric"
            formControlName="code"
          ></ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="submitted && form.controls.code.invalid">
          <small>{{ 'auth.mfa.codeInvalid' | transloco }}</small>
        </ion-text>

        <ion-text color="danger" *ngIf="errorMsg">
          <p class="ion-no-margin ion-margin-top"><small>{{ errorMsg }}</small></p>
        </ion-text>

        <ion-text color="success" *ngIf="successMsg">
          <p class="ion-no-margin ion-margin-top"><small>{{ successMsg }}</small></p>
        </ion-text>

        <ion-button expand="block" class="ion-margin-top" type="submit">
          {{ 'auth.mfa.submit' | transloco }}
        </ion-button>

        <ion-button expand="block" fill="clear" type="button" (click)="resend()">
          {{ 'auth.mfa.resend' | transloco }}
        </ion-button>

        <ion-button expand="block" fill="clear" type="button" (click)="backToLogin()">
          {{ 'auth.mfa.backToLogin' | transloco }}
        </ion-button>

      </form>

    </div>
  </div>
</ion-content>
