
.top-logo {
  display: flex;
  justify-content: center;
  margin: 24px 0 16px;
}
.top-logo img {
  width: 110px;
  height: auto;
}

.page-center {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 100%;
  max-width: 380px;
}