<ion-content class="ion-padding">
  <div class="page-center">
    <div class="login-box">

  <div class="brand-logo">
    <img src="assets/dadadada.svg" alt="ARTI" />
  </div>
  <br>
    <ion-text color="medium">
      <p>{{ 'auth.forgotPassword.instructions' | transloco }}</p>
    </ion-text>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-input
          [label]="'auth.forgotPassword.identifierLabel' | transloco"
          label-placement="stacked"
          placeholder="usuario@artisoftware.com"
          formControlName="identifier"
        ></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="submitted && form.controls.identifier.invalid"
      >
        <small>{{ 'validation.fieldRequired' | transloco }}</small>
      </ion-text>

      <ion-button
        type="submit"
        expand="block"
        class="ion-margin-top"
      >
        {{ 'auth.forgotPassword.submit' | transloco }}
      </ion-button>

      <ion-button
        fill="clear"
        size="small"
        routerLink="/login"
        type="button"
      >
        {{ 'auth.forgotPassword.backToLogin' | transloco }}
      </ion-button>
    </form>
  </div>
  </div>
</ion-content>
