<ion-content class="ion-padding">
  <div class="page-center">
    <div class="login-box">

  <div class="brand-logo">
    <img src="assets/dadadada.svg" alt="ARTI" />
  </div>
  <br>
    <ion-text color="medium">
      <p>
        Introduce tu <strong>usuario o email</strong> y te enviaremos
        las instrucciones para recuperar el acceso.
      </p>
    </ion-text>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-item>
        <ion-input
          label="Usuario o email"
          label-placement="stacked"
          placeholder="usuario@artisoftware.com"
          formControlName="identifier"
        ></ion-input>
      </ion-item>

      <ion-text
        color="danger"
        *ngIf="submitted && form.controls.identifier.invalid"
      >
        <small>Este campo es obligatorio.</small>
      </ion-text>

      <ion-button
        type="submit"
        expand="block"
        class="ion-margin-top"
      >
        Enviar
      </ion-button>

      <ion-button
        fill="clear"
        size="small"
        routerLink="/login"
        type="button"
      >
        Volver al login
      </ion-button>
    </form>
  </div>
  </div>
</ion-content>
